app/dify_dsl/articlecheck_document_read_workflow.yml
app:
  description: 归一化论文、模板与格式要求输入，为后续审改工作流提供统一上下文
  icon: ❤️‍🩹
  icon_background: '#FFE4E8'
  icon_type: emoji
  mode: workflow
  name: ArticleCheck 文档读取工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.3@84d4aae2c55724f6cdaecfadceed061d7e6b6693ae8945ea2dcd155f280743ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: end
      id: 1711708651402-1711708653229
      source: '1711708651402'
      sourceHandle: source
      target: '1711708653229'
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: if-else
      id: 1711708591503-1711708770787
      source: '1711708591503'
      sourceHandle: source
      target: '1711708770787'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: 1711708925268-1712457684421
      source: '1711708925268'
      sourceHandle: source
      target: '1712457684421'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1711708770787-1711708651402
      source: '1711708770787'
      sourceHandle: 'false'
      target: '1711708651402'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1711708770787-1711708925268
      source: '1711708770787'
      sourceHandle: 'true'
      target: '1711708925268'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: paper_bundle_json
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: paper_bundle_json
        - label: template_bundle_json
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: template_bundle_json
        - label: requirement_bundle_json
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: requirement_bundle_json
        - label: 详细模式
          max_length: 48
          options:
          - 'True'
          - 'False'
          required: true
          type: select
          variable: detailed_mode
        - label: 审查焦点
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: review_focus
        - label: 学校或机构
          max_length: 96
          options: []
          required: false
          type: text-input
          variable: institution
        - label: 模板名称
          max_length: 96
          options: []
          required: false
          type: text-input
          variable: template_name
        - label: 审查目标
          max_length: null
          options: []
          required: false
          type: paragraph
          variable: review_goal
        - label: 严格度
          max_length: 48
          options:
          - low
          - medium
          - high
          required: false
          type: select
          variable: strictness_level
      height: 141
      id: '1711708591503'
      position:
        x: 79.5
        y: 313.5
      positionAbsolute:
        x: 79.5
        y: 313.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是论文审改平台的文档读取与上下文归一化助手。

            你的任务是把论文解析结果、模板解析结果和格式要求解析结果整理为后续审查工作流可直接消费的统一 JSON。

            只输出 JSON，不要输出解释，不要输出 markdown。

            当前北师大场景的结构化规则基线：
            1. `template_bundle_json` 可直接使用 `北师大论文格式要求/bnu_undergraduate_template_rule_profile.json`。
            2. `requirement_bundle_json` 可直接使用 `北师大论文格式要求/bnu_graduate_requirement_rule_profile.json`。
            3. 如果输入已经是结构化规则 JSON，必须优先保留其字段层级与约束，不要退化为松散摘要。

            当 detailed_mode=False 时，输出必须包含：
            - paper_profile
            - template_rule_profile
            - requirement_rule_profile
            - review_context
            - routing_hints
            - normalization_meta

            规则：
            1. 只根据输入内容归纳，不得虚构不存在的章节、指标、规则或页码。
            2. 对缺失字段使用空数组、空对象或空字符串。
            3. 如果提供了 review_focus，将其写入 review_context.review_focus。
            4. review_context 需要提炼 paper_title、discipline、language、section_titles、figure_table_count、reference_count、core_risks、institution、template_name、review_goal、strictness_level。
            5. routing_hints 需要包含 format_focus、reference_focus、hallucination_focus 三个数组。
            6. normalization_meta 需要包含 has_layout_metrics、has_reference_list、has_figures、has_tables、bundle_completeness。
            7. 输出必须是单个 JSON 对象，首字符必须是 {，末字符必须是 }。
            8. 不允许输出 ```json、说明文字、备注、前缀句子、后缀总结或任何非 JSON 字符。

            重要：仅返回 JSON。如果返回的不是 JSON，将视为失败。'
        - role: user
          text: 'paper_bundle_json: {"title":"基于工作流的论文审查","language":"zh","sections":[{"heading":"摘要","text":"摘要内容"},{"heading":"引言","text":"引言内容"}],"figures":[{"id":"fig1"}],"references":[{"title":"Reference A"}]}

            template_bundle_json: {"institution":"北京师范大学","education_level":"undergraduate","profile_type":"template_rule_profile","template_name":"北京师范大学本科生学术论文规范","document_structure":{"required_sections":["论文封面","题目","中文摘要","英文摘要","关键词","目录","引言或前言","正文","结论和建议","参考文献"]},"page_layout":{"paper_size":"A4","print_mode":"double-sided","binding":"left","margin_top_mm":25,"margin_left_mm":25,"margin_bottom_mm":20,"margin_right_mm":20},"title_rules":{"max_chinese_chars":20},"abstract_rules":{"zh_abstract_target_chars":300},"keyword_rules":{"min_keywords":3,"max_keywords":8}}

            requirement_bundle_json: {"institution":"北京师范大学","education_level":"graduate","profile_type":"requirement_rule_profile","template_name":"北京师范大学研究生学位论文编写规则（2026版）","normative_basis":["GB/T 7713.1-2025","GB/T 7714"],"document_structure":{"required_sections":["封面","题名页","版权页","中文摘要","外文摘要","关键词","目录","正文","参考文献"]},"page_layout":{"cover_paper_size":"A3","inner_paper_size":"A4","body_margin_top_cm":2.54,"body_margin_left_cm":3.17},"abstract_rules":{"doctoral_zh_target_chars":2000,"master_zh_target_chars":1000},"keyword_rules":{"min_keywords":3,"max_keywords":8}}

            review_focus: 摘要、章节结构、参考文献完整性

            institution: 某大学

            template_name: 本科论文模板

            review_goal: 送审前审改

            strictness_level: high'
        - role: assistant
          text: "{\n  \"paper_profile\": {\n    \"paper_title\": \"基于工作流的论文审查\",\n\
            \    \"language\": \"zh\",\n    \"sections\": [\n      \"摘要\",\n      \"\
            引言\"\n    ],\n    \"figure_table_count\": 1,\n    \"reference_count\"\
            : 1\n  },\n  \"template_rule_profile\": {\n    \"template_name\": \"\
            本科论文模板\",\n    \"required_sections\": [\n      \"摘要\",\n      \"引言\",\n\
            \      \"结论\"\n    ],\n    \"chapter_rules\": [\n      \"一级标题\",\n  \
            \    \"二级标题\"\n    ]\n  },\n  \"requirement_rule_profile\": {\n    \"\
            font\": \"Times New Roman\",\n    \"font_size\": \"12pt\",\n    \"line_spacing\"\
            : \"1.5\",\n    \"citation_style\": \"GB/T 7714\"\n  },\n  \"review_context\"\
            : {\n    \"paper_title\": \"基于工作流的论文审查\",\n    \"discipline\": \"\",\n\
            \    \"language\": \"zh\",\n    \"section_titles\": [\n      \"摘要\",\n\
            \      \"引言\"\n    ],\n    \"figure_table_count\": 1,\n    \"reference_count\"\
            : 1,\n    \"review_focus\": \"摘要、章节结构、参考文献完整性\",\n    \"institution\"\
            : \"某大学\",\n    \"template_name\": \"本科论文模板\",\n    \"review_goal\": \"\
            送审前审改\",\n    \"strictness_level\": \"high\",\n    \"core_risks\": []\n\
            \  },\n  \"routing_hints\": {\n    \"format_focus\": [\n      \"摘要格式\"\
            ,\n      \"章节结构\"\n    ],\n    \"reference_focus\": [\n      \"参考文献完整性\"\
            \n    ],\n    \"hallucination_focus\": [\n      \"结论论断与引文支撑关系\"\n   \
            \ ]\n  },\n  \"normalization_meta\": {\n    \"has_layout_metrics\": false,\n\
            \    \"has_reference_list\": true,\n    \"has_figures\": true,\n    \"\
            has_tables\": false,\n    \"bundle_completeness\": \"partial\"\n  }\n\
            }"
        - role: user
          text: 'paper_bundle_json: {{#1711708591503.paper_bundle_json#}}


            template_bundle_json: {{#1711708591503.template_bundle_json#}}


            requirement_bundle_json: {{#1711708591503.requirement_bundle_json#}}


            review_focus: {{#1711708591503.review_focus#}}

            institution: {{#1711708591503.institution#}}

            template_name: {{#1711708591503.template_name#}}

            review_goal: {{#1711708591503.review_goal#}}

            strictness_level: {{#1711708591503.strictness_level#}}'
        selected: false
        title: 标准归一化
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1711708651402'
      position:
        x: 654.0714285714286
        y: 526.3571428571429
      positionAbsolute:
        x: 654.0714285714286
        y: 526.3571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1711708651402'
          - text
          variable: document_read_standard_result
        selected: false
        title: 标准输出
        type: end
      height: 89
      id: '1711708653229'
      position:
        x: 948.5
        y: 526.3571428571429
      positionAbsolute:
        x: 948.5
        y: 526.3571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1711708913752'
            value: 'True'
            variable_selector:
            - '1711708591503'
            - detailed_mode
          logical_operator: and
        desc: ''
        selected: false
        title: 详细模式分支
        type: if-else
      height: 125
      id: '1711708770787'
      position:
        x: 362.5
        y: 313.5
      positionAbsolute:
        x: 362.5
        y: 313.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是论文审改平台的文档读取与证据编目助手。

            你的任务是把论文解析结果、模板解析结果和格式要求解析结果整理成详细版统一 JSON，供格式审改、文献核验和幻觉审查直接消费。

            只输出 JSON，不要输出解释，不要输出 markdown。

            当前北师大场景的结构化规则基线：
            1. `template_bundle_json` 可直接使用 `北师大论文格式要求/bnu_undergraduate_template_rule_profile.json`。
            2. `requirement_bundle_json` 可直接使用 `北师大论文格式要求/bnu_graduate_requirement_rule_profile.json`。
            3. 如果输入已经是结构化规则 JSON，必须优先保留其字段层级与约束，不要退化为松散摘要。

            当 detailed_mode=True 时，输出必须包含：
            - paper_profile
            - template_rule_profile
            - requirement_rule_profile
            - review_context
            - section_digest
            - evidence_index
            - risk_hints
            - routing_hints
            - normalization_meta

            规则：
            1. evidence_index 只记录输入中可直接定位的章节、图表、参考文献或块级对象，不得虚构证据。
            2. risk_hints 只输出“可能需要重点审查”的线索，不得提前下最终结论。
            3. 如果提供了 review_focus，将其写入 review_context.review_focus。
            4. review_context 需要保留 institution、template_name、review_goal、strictness_level。
            5. routing_hints 需要包含 format_focus、reference_focus、hallucination_focus 三个数组。
            6. normalization_meta 需要包含 has_layout_metrics、has_reference_list、has_figures、has_tables、bundle_completeness。
            7. 所有字段缺失时使用空数组、空对象或空字符串。
            8. 输出必须是单个 JSON 对象，首字符必须是 {，末字符必须是 }。
            9. 不允许输出 ```json、说明文字、备注、前缀句子、后缀总结或任何非 JSON 字符。

            重要：仅返回 JSON。如果返回的文本不是 JSON，将视为失败。'
        - role: user
          text: 'paper_bundle_json: {"title":"基于工作流的论文审查","language":"zh","sections":[{"heading":"摘要","text":"摘要内容"},{"heading":"引言","text":"引言内容"}],"figures":[{"id":"fig1","caption":"系统架构图"}],"references":[{"title":"Reference A","year":"2023"}]}

            template_bundle_json: {"institution":"北京师范大学","education_level":"undergraduate","profile_type":"template_rule_profile","template_name":"北京师范大学本科生学术论文规范","document_structure":{"required_sections":["论文封面","题目","中文摘要","英文摘要","关键词","目录","引言或前言","正文","结论和建议","参考文献"]},"page_layout":{"paper_size":"A4","print_mode":"double-sided","binding":"left","margin_top_mm":25,"margin_left_mm":25,"margin_bottom_mm":20,"margin_right_mm":20},"font_rules":{"body":{"font_family":"宋体","font_size":"小四号","line_spacing_pt":20}},"heading_rules":{"patterns":["1","1.1","1.1.1","1.1.1.1"]},"reference_rules":{"recommended_standard":"GB/T 7714-2015"}}

            requirement_bundle_json: {"institution":"北京师范大学","education_level":"graduate","profile_type":"requirement_rule_profile","template_name":"北京师范大学研究生学位论文编写规则（2026版）","normative_basis":["GB/T 7713.1-2025","GB/T 7714"],"document_structure":{"required_sections":["封面","题名页","版权页","中文摘要","外文摘要","关键词","目录","正文","参考文献"]},"page_layout":{"cover_paper_size":"A3","inner_paper_size":"A4","body_margin_top_cm":2.54,"body_margin_left_cm":3.17,"body_margin_bottom_cm":2.54,"body_margin_right_cm":3.17},"page_number_rules":{"front_matter_numbering":"Roman","body_numbering":"Arabic"},"figure_table_formula_rules":{"figure_caption_position":"below","table_caption_position":"above"}} 

            review_focus: 摘要、章节结构、参考文献完整性

            institution: 某大学

            template_name: 本科论文模板

            review_goal: 送审前审改

            strictness_level: high'
        - role: assistant
          text: "{\n  \"paper_profile\": {\n    \"paper_title\": \"基于工作流的论文审查\",\n\
            \    \"language\": \"zh\",\n    \"sections\": [\n      \"摘要\",\n      \"\
            引言\"\n    ],\n    \"figure_table_count\": 1,\n    \"reference_count\"\
            : 1\n  },\n  \"template_rule_profile\": {\n    \"template_name\": \"\
            本科论文模板\",\n    \"required_sections\": [\n      \"摘要\",\n      \"引言\",\n\
            \      \"结论\"\n    ],\n    \"chapter_rules\": [\n      \"一级标题\",\n  \
            \    \"二级标题\"\n    ]\n  },\n  \"requirement_rule_profile\": {\n    \"\
            font\": \"Times New Roman\",\n    \"font_size\": \"12pt\",\n    \"line_spacing\"\
            : \"1.5\",\n    \"citation_style\": \"GB/T 7714\"\n  },\n  \"review_context\"\
            : {\n    \"paper_title\": \"基于工作流的论文审查\",\n    \"discipline\": \"\",\n\
            \    \"language\": \"zh\",\n    \"section_titles\": [\n      \"摘要\",\n\
            \      \"引言\"\n    ],\n    \"figure_table_count\": 1,\n    \"reference_count\"\
            : 1,\n    \"review_focus\": \"摘要、章节结构、参考文献完整性\",\n    \"institution\"\
            : \"某大学\",\n    \"template_name\": \"本科论文模板\",\n    \"review_goal\": \"\
            送审前审改\",\n    \"strictness_level\": \"high\",\n    \"core_risks\": []\n\
            \  },\n  \"section_digest\": [\n    {\n      \"section_title\": \"摘要\"\
            ,\n      \"section_role\": \"summary\",\n      \"key_points\": [\n   \
            \     \"摘要内容\"\n      ]\n    }\n  ],\n  \"evidence_index\": [\n    {\n\
            \      \"evidence_id\": \"section-1\",\n      \"evidence_type\": \"section\"\
            ,\n      \"locator\": \"摘要\"\n    },\n    {\n      \"evidence_id\": \"\
            figure-1\",\n      \"evidence_type\": \"figure\",\n      \"locator\":\
            \ \"fig1\"\n    }\n  ],\n  \"risk_hints\": [\n    \"参考文献数量较少，后续应重点检查引文充分性\"\
            \n  ],\n  \"routing_hints\": {\n    \"format_focus\": [\n      \"摘要格式\"\
            ,\n      \"章节结构\"\n    ],\n    \"reference_focus\": [\n      \"参考文献完整性\"\
            \n    ],\n    \"hallucination_focus\": [\n      \"摘要与结论一致性\",\n     \
            \ \"结论论断与引文支撑关系\"\n    ]\n  },\n  \"normalization_meta\": {\n    \"has_layout_metrics\"\
            : false,\n    \"has_reference_list\": true,\n    \"has_figures\": true,\n\
            \    \"has_tables\": false,\n    \"bundle_completeness\": \"partial\"\
            \n  }\n}"
        - role: user
          text: 'paper_bundle_json: {{#1711708591503.paper_bundle_json#}}


            template_bundle_json: {{#1711708591503.template_bundle_json#}}


            requirement_bundle_json: {{#1711708591503.requirement_bundle_json#}}


            review_focus: {{#1711708591503.review_focus#}}

            institution: {{#1711708591503.institution#}}

            template_name: {{#1711708591503.template_name#}}

            review_goal: {{#1711708591503.review_goal#}}

            strictness_level: {{#1711708591503.strictness_level#}}'
        selected: false
        title: 详细归一化
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1711708925268'
      position:
        x: 644.0714285714286
        y: 227.35714285714283
      positionAbsolute:
        x: 644.0714285714286
        y: 227.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1711708925268'
          - text
          variable: document_read_detailed_result
        selected: false
        title: 详细输出
        type: end
      height: 89
      id: '1712457684421'
      position:
        x: 924.2142857142858
        y: 227.35714285714283
      positionAbsolute:
        x: 924.2142857142858
        y: 227.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Dify
        desc: ''
        height: 195
        selected: true
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"paper_bundle_json：论文解析结果；template_bundle_json：模板解析结果；requirement_bundle_json：格式要求解析结果。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"institution、template_name、review_goal、strictness_level 会被写入 review_context，并影响后续 routing_hints。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"detailed_mode：是否输出 section_digest、evidence_index、risk_hints、routing_hints 与 normalization_meta。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 365
      height: 195
      id: '1718994193060'
      position:
        x: 78.72676052802971
        y: 83.82339918419211
      positionAbsolute:
        x: 78.72676052802971
        y: 83.82339918419211
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 365
    - data:
        author: Dify
        desc: ''
        height: 115
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"本工作流负责把三类输入 bundle 归一化为统一审查上下文，不直接做格式判定或幻觉结论。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: pink
        title: ''
        type: ''
        width: 256
      height: 115
      id: '1718994253968'
      position:
        x: -257.98741804083267
        y: 341.35904854998614
      positionAbsolute:
        x: -257.98741804083267
        y: 341.35904854998614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 256
    viewport:
      x: 463.240450552537
      y: -47.02802294316541
      zoom: 1.5087574948749263
  rag_pipeline_variables: []
